<section
  class="relative bg-[url(/Backgrounds/Menu.webp)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/30 to-white/10"
  ></div>

  <div
    class="relative mx-auto max-w-screen-2xl px-4 py-16 md:py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="w-full text-center md:text-right flex md:flex-row flex-col justify-center lg:justify-end items-center">
      <h1 class="text-5xl text-white drop-shadow-md font-[Thirsty-Regular] md:text-9xl">
        Para el postre y para la sonrisa, siempre hay un espacio.
      </h1>
    </div>
  </div>
</section>