<section class="relative w-full overflow-hidden">
    <picture>
        <img src="../public/Backgrounds/Menu.webp" alt="Menu" class="select-none">
        <h1 class="absolute top-[300px] right-12 font-[Thirsty-Regular] text-9xl text-white drop-shadow-lg px-5 text-right">Para el postre y para la sonrisa, siempre hay un espacio.</h1>
    </picture>
    
</section>