<section>
    <h2 class="text-center font-[Montserrat-Bold] text-5xl py-4 mt-8">Bebidas</h2>
    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#A98A6E]/25">
            <div class="">
                <img src="../public/Drinks/cappuccino.jpg" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#B99966]/25">
            <div class="">
                <img src="../public/Drinks/vanilla_latte.jpg" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#5F2E20]/25">
            <div class="">
                <img src="../public/Drinks/caramel_cream_cold_brew.jpg" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Cappuchino</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Latte de Vainilla</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Caramel cream cold brew</p>
    </div>

    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#734F39]/25">
            <div class="">
                <img src="../public/Drinks/creamy_ice_coffee.jpg" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#BC5827]/25">
            <div class="">
                <img src="../public/Drinks/raspberry_ice_tea.jpg" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#E6563C]/25">
            <div class="">
                <img src="../public/Drinks/watermelon_ice_tea.jpg" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Café helado cremoso</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Té helado de frambuesa</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Té helado de sandía</p>
    </div>
    <div class="py-10"></div>
</section>