<section class="py-10">
    <h2 class="text-center font-[Montserrat-Bold] text-5xl py-4 mt-8">Rollos</h2>
    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#83502E]/25">
            <div class="">
                <img src="/Rolls/Classic.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#C79556]/25">
            <div class="">
                <img src="/Rolls/Almonds.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#6B4281]/25">
            <div class="">
                <img src="/Rolls/Blueberry.webp" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela clásico</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela con almendra <br> y caramelo</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela con moras</p>
    </div>

    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#C57040]/25">
            <div class="">
                <img src="/Rolls/Rosina.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#A36847]/25">
            <div class="">
                <img src="/Rolls/Rocho.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#C87D42]/25">
            <div class="">
                <img src="/Rolls/Cheese.webp" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela endulzado <br> con miel</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela con <br> chocolate</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela con <br> queso crema</p>
    </div>
    <div class="py-10"></div>
</section>