<section class="py-10">
  <div>
    <h2 class='text-center font-[GilroyBold] text-5xl py-6'>Rollos</h2>
    <article class='grid grid-rows-1 md:grid-cols-2 lg:grid-cols-3'>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#83502E]/25'>
          <img src="/Rolls/Classic.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela clásico</p>
      </div>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#C79556]/25'>
          <img src="/Rolls/Almonds.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela con almendra y caramelo</p>
      </div>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#6B4281]/25'>
          <img src="/Rolls/Blueberry.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg wrap-text'>Rollo de canela con moras</p>
      </div>

      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#C57040]/25'>
          <img src="/Rolls/Rosina.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela endulzado con miel</p>
      </div>
      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#A36847]/25'>
          <img src="/Rolls/Rocho.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela con chocolate</p>
      </div>
      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#C87D42]/25'>
          <img src="/Rolls/Cheese.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela con queso crema</p>
      </div>
    </article>
  </div>
  <div class="py-10" />
</section>