<section>
  <div>
    <h2 class='text-center font-[GilroyBold] text-5xl py-6'>Snacks</h2>
    <article class='grid grid-rows-1 md:grid-cols-2 lg:grid-cols-3'>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#B56D33]/25'>
          <img src="/Snacks/Churro.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Sandwich de churro con helado de vainilla</p>
      </div>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#89562F]/25'>
          <img src="/Snacks/Macarons.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Macarons</p>
      </div>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#643A2C]/25'>
          <img src="/Snacks/Pacho.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg wrap-text'>Pastel de chocolate</p>
      </div>

      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#DB867B]/25'>
          <img src="/Snacks/Pafre.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Pastel de fresa</p>
      </div>
      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#AB9670]/25'>
          <img src="/Snacks/Cupcho.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Cupcake de chocolate</p>
      </div>
      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#B6A252]/25'>
          <img src="/Snacks/Cupva.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Cupcake de vainilla</p>
      </div>
    </article>
  </div>
  <div class="py-10" />
</section>