<section>
    <h2 class="text-center font-[Montserrat-Bold] text-5xl py-4 mt-8">Snacks</h2>
    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#B56D33]/25">
            <div class="">
                <img src="/Snacks/Churro.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#89562F]/25">
            <div class="">
                <img src="/Snacks/Macarons.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#643A2C]/25">
            <div class="">
                <img src="/Snacks/Pacho.webp" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Sandwich de churro <br> con Helado de Vainilla</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Macarons</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Pastel de chocolate</p>
    </div>

    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#DB867B]/25">
            <div class="">
                <img src="/Snacks/Pafre.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#AB9670]/25">
            <div class="">
                <img src="/Snacks/Cupcho.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#B6A252]/25">
            <div class="">
                <img src="/Snacks/Cupva.webp" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Pastel de fresa</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Cupcake de chocolate</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Cupcake de vainilla</p>
    </div>
    <div class="py-10"></div>
</section>