---
import Layout from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Contacto">
	<Header />
	<p class=" text-center px-6 font-GilroySemibold text-2xl py-8 flex flex-col">¿Tienes algún mensaje para nosotros? 
		<span>Puedes dejarlo en siguiente formulario, todos sus comentarios los leemos ❤️</span>
	</p>
	<div class="min-w-screen min-h-screen flex items-center justify-center px-5 py-5">
		<div
			class="text-gray-500 rounded-3xl shadow-xl w-[1400px] overflow-hidden backdrop-blur-[3px] bg-white/10 border-2">
			<div class="md:flex w-full">
				<div class="hidden md:block w-1/2 py-32 px-12 select-none">
					<img src="/Elements/ContactForm.webp" alt="" class="drop-shadow-lg">
				</div>
				<div class="w-full md:w-1/2 py-36 px-5 md:px-10">
					<form>
						<div class="flex -mx-3">
							<div class="w-1/2 px-3 mb-5">
								<label for="" class="text-lg font-GilroyBold px-1 py-2 text-black">Nombre</label>
								<div class="flex">
									<div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
									<input type="text"
										class="w-full -ml-10 pl-3 font-GilroyRegular pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-[#F0CEA0]">
								</div>
							</div>
							<div class="w-1/2 px-3 mb-5">
								<label for="" class="text-lg font-GilroyBold px-1 text-black">Apellido</label>
								<div class="flex">
									<div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
									<input type="text"
										class="w-full -ml-10 pl-3 font-GilroyRegular pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-[#F0CEA0]">
								</div>
							</div>
						</div>
						<div class="flex -mx-3">
							<div class="w-full px-3 mb-5">
								<label for="" class="text-lg font-GilroyBold px-1 text-black">Correo
									Electrónico</label>
								<div class="flex">
									<div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
									<input type="text"
										class="w-full -ml-10 pl-3 font-GilroyRegular pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-[#F0CEA0]">
								</div>
							</div>
						</div>
						<div class="flex -mx-3">
							<div class="w-full px-3 mb-12">
								<label for="message" class="text-lg font-GilroyBold px-1 text-black">Mensaje</label>
								<div class="flex">
									<div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"></div>
									<textarea
										class="w-full -ml-10 pl-3 font-GilroyRegular pr-3 py-2 rounded-lg resize-none max-h-64 h-64 border-2 border-gray-200 outline-none focus:border-[#F0CEA0]"> </textarea>
								</div>
							</div>
						</div>
						<div class="flex -mx-3">
							<div class="w-full px-3 mb-5">
								<button
									class="block w-full max-w-xs mx-auto bg-[#F0CEA0] text-black hover:bg-[#D9A45B] hover:text-white ease-in duration-75  rounded-lg px-3 py-3 font-GilroyBold">Enviar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<Footer />

</Layout>
