<section class="relative w-full overflow-hidden">
    <picture>
        <img src="../public/Backgrounds/Rewards.webp" alt="Rewards" class="select-none">
        <h1 class="absolute top-[300px] left-12 font-[Montserrat-Bold] text-8xl text-white drop-shadow-lg px-10 text-left mr-36">Ahora con nuestro programa de recompesas, <br> ganar siempre es dulce.</h1>
    </picture>
    
</section>