<div class="grid grid-cols-2 place-items-center px-10 py-12">
    <div class="max-w-sm overflow-hidden rounded-[15px] bg-register bg-cover shadow-md duration-200 hover:scale-105 hover:shadow-xl">
        <div class="p-5">
            <p class=" mb-5 text-white text-center font-[Montserrat-Bold] text-lg">¿Eres nuevo?</p>
            <p class=" mb-5 text-white text-center font-[Montserrat-Bold] text-lg">Registrate y empieza a ganar dulces recompesas con nosotros</p>
            <a href="/Register" class="w-full rounded-[20px] font-[Montserrat-Bold] bg-[#FFE9C8] text-black text-center py-2 px-10 hover:bg-[#D9A45B] hover:text-white hover:shadow-md ease-in duration-100 flex justify-center items-center">Registrarse</a>
        </div>
    </div>
    <div class="max-w-sm overflow-hidden rounded-[15px] bg-login bg-cover shadow-md duration-200 hover:scale-105 hover:shadow-xl">
        <div class="p-5">
            <p class="mb-5 text-white text-center font-[Montserrat-Bold] text-lg">¿Ya formas parte de nuestro programa de recompensas?</p>
            <p class="mb-5 text-white text-center font-[Montserrat-Bold] text-lg">¡Eres increible!</p>
            <a href="/Login" class="w-full rounded-[20px] font-[Montserrat-Bold] bg-[#FFE9C8] text-black text-center py-2 px-12 hover:bg-[#D9A45B] hover:text-white hover:shadow-md ease-in duration-100 flex justify-center items-center">Iniciar Sesión</a>
        </div>
    </div>
</div>