<section>
    <hr style="border-top: 6px dotted #F0CEA0;" class="py-2 opacity-30">
    <h2 class="text-center font-[Montserrat-Bold] text-4xl py-6">Preguntas frecuentes</h2>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Necesito una cuenta para poder entrar al programa de recompesas?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Si, necesitas registrarse para poder ganar recompensas de Cinnamon Overoll.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Cómo puedo ganar recompensas?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Para ganar recompensas, debes de comprar productos de Cinnamon Overoll para acumular puntos.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Cómo puedo canjear mis recompensas?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Para canjear tus recompensas, debes de tener 250 puntos o más y luego ir a la sección de recompensas y seleccionar la recompensa que quieras.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Cómo puedo ver mis recompensas canjeadas?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Para ver tus recompensas que hayas canjeado, debes de ir a la sección de recompensas e ir al apartado de recompensas canjeadas para checar tus recompensas.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Mis recompesas canjeadas caducan?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Si, tus recompensas canjeadas caducan después de haber pasado 30 días de haberlas canjeado.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Puedo canjear mis recompensas varias veces?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">No, solo puedes canjear una recompensa una vez. Una vez que la hayas canjeado esta automáticamente se eliminara de tus recompesas canjeadas.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Cómo puedo ver mis puntos?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Para ver tus puntos, debes de ir a la sección de recompensas y verás tus puntos en la parte superior derecha.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Puedo ganar puntos con cualquier compra que haga en Cinnamon Overoll?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Si, puedes ganar puntos con cualquier compra que hagas en Cinnamon Overoll, siempre y cuando la compra sea superior a $100 pesos.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Mis puntos acumulados expiran?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Si, tus puntos acumulados expiran después de 12 meses si no los has canjeado por alguna recompensa válida.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Puedo canjear mis puntos por dinero?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">No, no puedes canjear tus puntos por dinero.</p>
    </ol>
        <strong class="px-20 text-lg font-[Montserrat-Bold]">¿Cuántos puntos gano por cada compra realizada?</strong>
    <ol>
        <p class="px-28 font-[Montserrat-Medium] p-2">Por cada $100 pesos de compra realizada en Cinnamon Overoll, ganas 10 puntos.</p>
    </ol>
    <div class="py-4"></div>
</section>