---
import FAQ from './FAQ'
---

<section id='faqs'
  class='mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8 mt-20 scroll-m-20 sm:mt-24 sm:scroll-m-24 xl:mt-32 xl:scroll-m-32 pb-32'>
  <div class='mx-auto grid max-w-[40rem] grid-cols-1 gap-x-14 gap-y-16 lg:max-w-none lg:grid-cols-12'>
    <div class='lg:col-span-4'>
      <h2
        class='text-xl leading-7 text-[burlywood] drop-shadow-sm font-GilroySemibold'>
        Preguntas frecuentes
      </h2>
      <p class='mt-4 text-4xl font-GilroyBold tracking-tight xl:text-6xl xl:leading-[3.5rem]'>
        Todo lo que necesitas saber sobre nuestro programa de recompesas
        <span class='text-[burlywood]'>
          .
        </span>
      </p>
    </div>
    <div class='-mb-4 space-y-12 lg:col-span-8 xl:col-span-7 xl:col-start-6'>
      <section>
        <FAQ client:visible />
      </section>
    </div>
  </div>
</section>