<section class="py-10">
    <h1 class="text-center font-[Thirsty-Regular] text-6xl drop-shadow-md pb-16">¿Qué puedes ganar?</h1>
    <div class="grid grid-cols-2 place-items-center ">
        <ul class="font-[Montserrat-Medium] ">
            <li>
                <span>Tu rollo de canela favorito</span>
            </li>
            <li>
                <span>Tu bebida favorita</span>
            </li>
            <li>
                <span>Tu snack favorito</span>
            </li>
            <li>
                <span>Puntos extra para más recompesas</span>
            </li>
            <li>
                <span>Regalo sorpresa</span>
            </li>
        </ul>
    </div>
</section>