<section class="py-10">
    <h1 class="text-center font-Thirsty text-6xl drop-shadow-md pb-16">¿Qué puedes ganar?</h1>
    <div class="grid grid-cols-1 content-center">
        <article class="px-6">
            <div class="font-GilroySemibold text-center text-xl">
                <ul>
                    <li class="py-2">👉 Cada $100 pesos de compra, ganaras 10 puntos.</li>
                    <li class="py-2">👉 250 pts = Rollo de canela clásico</li>
                    <li class="py-2">👉 Los puntos se acumulan en tu cuenta y podrás canjearlos cuando quieras.</li>
                </ul>
                <table class="flex justify-center items-center">
                    <h4 class="py-6 font-GilroyBold text-2xl">Recompesas extra</h4>
                    <tr class="border">
                        <td class="border-4 border-[#D9A45B] border-double px-5 py-2">1 Rollo de canela con moras al registrarse</td>
                        <td class="border-4 border-[#D9A45B] border-double px-5 py-2">50 pts por referir a un amigo</td>
                    </tr>
                    <tr class="border">
                        <td class="border-4 border-[#D9A45B] border-double px-5 py-2">Regalo sorpresa en tu cumpleaños</td>
                        <td class="border-4 border-[#D9A45B] border-double px-5 py-2">Ofertas exclusivas y dulces recompensas</td>
                    </tr>
                </table>
            </div>
        </article>
    </div>
</section>


