<section class="relative w-full overflow-hidden">
    <picture>
        <img src="../public/Backgrounds/HomePrincipal.webp" alt="HomePrincipal" class="select-none">
        <h1 class="absolute top-[300px] left-12 font-[Aloja] text-9xl text-white drop-shadow-lg px-5">Cinnamon <span class="relative top-[170px] right-[650px]">Overoll</span></h1>
        <p class="absolute top-[450px] left-[1050px] text-white font-[Montserrat-Bold] text-3xl drop-shadow-lg">¡Ven y comparte dulzura!</p>
    </picture>
    
</section>