<section class="container mx-auto relative w-full overflow-hidden">
    <picture class="flex md:flex-row flex-col items-center">
        <img src="Backgrounds/HomePrincipal.webp" alt="HomePrincipal" class="select-none">
        <h1 class="absolute md:top-[300px] top-10 text-6xl md:left-12 left-[65px] font-[Aloja] md:text-9xl text-white drop-shadow-lg md:px-5">Cinnamon</h1>
        <h1 class="absolute md:top-[500px] top-32 text-5xl md:left-[68px] left-[110px] font-[Aloja] text-white md:text-8xl">Overoll</h1>
        <p class="absolute md:top-[450px] top-[200px] md:left-[1050px] left-[100px] text-white font-[Montserrat-Bold] md:text-3xl drop-shadow-lg">¡Ven y comparte dulzura!</p>
    </picture>
</section>