<section
  class="relative bg-[url(/Backgrounds/HomePrincipal.webp)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/30 to-white/10"
  ></div>

  <div
    class="relative mx-auto max-w-screen-[1200px] px-4 py-16 md:py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="w-full text-center md:text-left flex md:flex-row flex-col justify-between items-center">
      <h1 class="text-5xl font-extrabold text-white drop-shadow-md font-[Aloja] md:text-9xl">
        Cinnamon

        <strong class="block font-extrabold text-[Burlywood] pt-2 md:pt-6">
          Overoll
        </strong>
      </h1>

      <p class="mt-4 max-w-xl sm:text-4xl text-right font-[GilroySemibold] text-white/80 ">
        ¡Ven y comparte dulzura!
      </p>

    </div>
  </div>
</section>