---
import FacebookLogo from "./logos/Facebook.astro";
import TwitterLogo from "./logos/Twitter.astro";
import InstagramLogo from "./logos/Instagram.astro";
import GitHubLogo from "./logos/GitHub.astro";

---

<footer class="bg-footer">
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
        <h3 class="mr-5 sm:h-9 w-14 h-14 text-white text-3xl mb-3 font-[Aloja]"> Cinnamon Overoll </h3>
          <div class="flex mt-14 space-x-6 text-white">
            <a class="ease-in duration-200" href="" target="_blank" rel="noreferrer">
              <span class="sr-only"> Facebook </span>
              <FacebookLogo />
            </a>
            <a class="ease-in duration-200" href="" target="_blank" rel="noreferrer">
              <span class="sr-only"> Instagram </span>
              <InstagramLogo />
            </a>
            <a class="ease-in duration-200" href="" target="_blank" rel="noreferrer">
              <span class="sr-only"> Twitter </span>
              <TwitterLogo />
            </a>
            <a class="ease-in duration-200" href="" target="_blank" rel="noreferrer">
              <span class="sr-only"> GitHub </span>
              <GitHubLogo />
            </a>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
          <div>
            <p class="font-[Montserrat-Bold] text-white text-[19px]">
              Acerca de
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-[16px] font-[Montserrat-Medium] text-white">
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> Nuestra Historia </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> Nuestro Equipo </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> Carreras </a>
            </nav>
          </div>
          <div>
            <p class="font-[Montserrat-Bold] text-white text-[19px]">
              Sitios de Interés
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-[16px] font-[Montserrat-Medium] text-white">
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href="https://www.cinnabon.com/" target='_blank' rel='noreferrer noopener'> Cinnabon </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href="https://www.gourmet.cl/" target='_blank' rel='noreferrer noopener'> Gourmet </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href="https://www.recepedia.com/es-mx/" target='_blank' rel='noreferrer noopener'> Recepedia </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href="https://www.recetasnestle.com.mx/" target='_blank' rel='noreferrer noopener'> Recetas Nestle </a>
            </nav>
          </div>
          <div>
            <p class="font-[Montserrat-Bold] text-white text-[19px]">
              Escribenos
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-[16px] font-[Montserrat-Medium] text-white">
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> Contacto </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> FAQ </a>
            </nav>
          </div>
          <div>
            <p class="font-[Montserrat-Bold] text-white text-[19px]">
              Más información
            </p>
            <nav class="flex flex-col mt-4 space-y-2 font-[Montserrat-Medium] text-[16px] text-white">
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> Políticas de Privacidad </a>
              <a class="hover:text-[#F0CEA0] ease-in duration-200" href=""> Términos &amp; Condiciones </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>