<header>
    <div class="relative z-20 border-b bg-white">
        <div class="px-6 md:px-12 lg:container lg:mx-auto lg:px-6 lg:py-1">
            <div class="flex items-center justify-between">
                <div class="relative z-20">
                    <a href="/">
                        <img src="/Cinnamon-Overoll.svg" alt="Cinnamon Overoll" class="w-20 py-[6px]">
                    </a>
                </div>
                <div class="flex items-center justify-end border-l lg:border-l-0">
                    <input type="checkbox" name="COR" id="COR" class="peer" hidden>
                    <label for="COR" class="peer-checked:COR block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
                        <div aria-hidden="true" class="m-auto h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
                        <div aria-hidden="true" class="m-auto mt-2 h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
                    </label>
                    <div class="peer-checked:translate-x-0 fixed inset-0 w-[calc(100%-4.5rem)] translate-x-[-100%] bg-white border-r shadow-xl transition duration-300 lg:border-r-0 lg:w-auto lg:static lg:shadow-none lg:translate-x-0">
                        <div class="flex flex-col h-full justify-between lg:items-center lg:flex-row">
                            <ul class="px-6 pt-32 text-black space-y-8 md:px-12 lg:space-y-0 lg:flex lg:space-x-12 lg:pt-0">
                                <li>
                                    <a href="/" class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-[#F0CEA0] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                                        <span class="relative text-black font-[GilroySemibold] text-xl">Inicio</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Menu" class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-[#F0CEA0] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                                        <span class="relative group-hover:text-black font-[GilroySemibold] text-xl">Menú</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Rewards" class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-[#F0CEA0] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                                        <span class="relative group-hover:text-black font-[GilroySemibold] text-xl">Recompensas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Contact" class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-[#F0CEA0] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                                        <span class="relative group-hover:text-black font-[GilroySemibold] text-xl">Contacto</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/About" class="group relative before:absolute before:inset-x-0 before:bottom-0 before:h-2 before:origin-right before:scale-x-0 before:bg-[#F0CEA0] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100">
                                        <span class="relative group-hover:text-black font-[GilroySemibold] text-xl">Acerca De</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>