<!-- <section>
    <h2 class="text-center font-[Montserrat-Bold] text-5xl py-4 mt-8">Menú Popular</h2>
    <p  class="text-center font-[Montserrat-Medium] text-lg px-16">A base de las compras de nuestros clientes, hemos obtenido cuales son los productos populares y más comprados de nuestra franquicia.</p>
    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#83502E]/25 ">
            <div class="">
                <img src="/Rolls/Classic.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#6B4281]/25">
            <div class="">
                <img src="/Rolls/Blueberry.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#815E48]/25">
            <div class="">
                <img src="/Drinks/creamy_ice_coffee.jpg" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela clásico</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Rollo de canela con moras</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Café frío cremoso</p>
    </div>

    <div class="container relative grid grid-cols-3 place-items-center mt-[40px]">
        <div class="relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#C06530]/25">
            <div class="">
                <img src="/Drinks/raspberry_ice_tea.jpg" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#B77237]/25">
            <div class="">
                <img src="/Snacks/Churro.webp" alt="" class="select-none">
            </div>
        </div>
        <div class="relative w-[325px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#9E6A3D]/25">
            <div class="">
                <img src="/Snacks/Macarons.webp" alt="" class="select-none">
            </div>
        </div>
    </div>
    <div class="container grid grid-cols-3 place-items-center">
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Té helado de frambuesa</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Sandwich de churro con <br> helado de vainilla</p>
        <p class="font-[Montserrat-Bold] text-lg py-5 px-5">Macarons</p>
    </div>
    <div class="py-10"></div>
</section> -->