<section>
  <div>
    <h2 class='text-center font-[GilroyBold] text-5xl py-6'>Menú Popular</h2>
    <p class="text-center font-[GilroyRegular] text-lg px-10 lg:pb-6">A base de las compras de nuestros clientes, hemos obtenido
      cuales son los productos populares y más comprados de nuestra franquicia.</p>
    <article class='grid grid-rows-1 md:grid-cols-2 lg:grid-cols-3'>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#83502E]/25'>
          <img src="/Rolls/Classic.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela clásico</p>
      </div>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#6B4281]/25'>
          <img src="/Rolls/Blueberry.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Rollo de canela con moras</p>
      </div>
      <div class='flex justify-center flex-col items-center'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#815E48]/25'>
          <img src="/Drinks/creamy_ice_coffee.jpg" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg wrap-text'>Café frío cremoso</p>
      </div>

      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#C06530]/25'>
          <img src="/Drinks/raspberry_ice_tea.jpg" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Té helado de frambuesa</p>
      </div>
      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#B77237]/25'>
          <img src="/Snacks/Churro.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Sandwich de churro con helado de vainilla</p>
      </div>
      <div class='flex justify-center flex-col items-center lg:pt-16'>
        <span
          class='relative w-[325px] h-[400px] mt-[20px] rounded-[30px] flex items-center border border-[#9E6A3D]/25'>
          <img src="/Snacks/Macarons.webp" alt="Cinammon Roll Classic" class='select-none' />
        </span>
        <p class='font-[GilroySemibold] pt-3 text-lg'>Macarons</p>
      </div>
    </article>
  </div>
  <div class="py-10" />
</section>