<section>
    <h2 class="text-center font-[Montserrat-Bold] text-5xl py-4 mt-8">Menú Popular</h2>
    <p  class="text-center font-[Montserrat-Medium] text-lg px-16">A base de las compras de nuestros clientes, hemos obtenido cuales son los productos populares y más comprados de nuestra franquicia.</p>
    <div class="container relative flex flex-col lg:flex-row justify-center items-center lg:justify-around mt-[40px]">
        <div class="relative w-[285px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#83502E]/25 ">
            <div class="">
                <img src="/Rolls/Classic.webp" alt="Classic Roll" class="select-none">
                <p class="font-[Montserrat-Bold] text-lg py-5 px-5 text-center ">Rollo de canela clásico</p>
            </div>
        </div>
        <div class="relative w-[285px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#6B4281]/25">
            <div class="">
                <img src="/Rolls/Blueberry.webp" alt="Blueberry Roll" class="select-none">
                <p class="font-[Montserrat-Bold] text-lg py-5 px-5 text-center">Rollo de canela con moras</p>
            </div>
        </div>
        <div class="relative w-[285px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#815E48]/25">
            <div class="">
                <img src="/Drinks/creamy_ice_coffee.jpg" alt="Creamy Ice Coffee" class="select-none">
                <p class="font-[Montserrat-Bold] text-lg py-5 px-5 text-center">Café frío cremoso</p>
            </div>
        </div>
    </div>

    <div class="container flex flex-col lg:flex-row justify-center items-center lg:justify-around mt-[10px]">
        <div class="relative w-[285px] h-[400px] mt-[20px] rounded-[30px] flex justify-center items-center border border-[#C06530]/25">
            <div class="">
                <img src="/Drinks/raspberry_ice_tea.jpg" alt="Raspberry Ice Tea" class="select-none">
                <p class="font-[Montserrat-Bold] text-lg py-5 px-5 text-center">Té helado de frambuesa</p>
            </div>
        </div>
        <div class="relative w-[285px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#B77237]/25">
            <div class="">
                <img src="/Snacks/Churro.webp" alt="Churro Sandwich" class="select-none">
                <p class="font-[Montserrat-Bold] text-lg py-5 px-5 text-center">Sandwich de churro con <br> helado de vainilla</p>
            </div>
        </div>
        <div class="relative w-[285px] h-[400px] bg-[black-rgba] mt-[20px] rounded-[30px] flex justify-center items-center backdrop-blur-md border border-[#9E6A3D]/25">
            <div class="">
                <img src="/Snacks/Macarons.webp" alt="Macarons" class="select-none">
                <p class="font-[Montserrat-Bold] text-lg py-5 px-5 text-center">Macarons</p>
            </div>
        </div>
    </div>
    <div class="py-10"></div>
</section>