<section>
    <div>
        <h2 class="text-center justify-center py-28 font-[Thirsty-Regular] text-5xl lg:text-7xl">Una experiencia deliciosa comieza aquí.</h2>
    </div>
    <picture class="relative w-full overflow-hidden flex md:flex-row flex-col">
        <img src="/Backgrounds/TasteExperience.webp" alt="Taste Experience" class="select-none">
        <p class="absolute font-[Montserrat-Bold] text-2xl lg:text-8xl text-white text-center lg:text-right py-20 lg:py-60 left-0 lg:left-96 px-10 lg:px-28">Siempre listos en cada momento conquistando tu paladar.</p>
    </picture>
    <div class="pt-[120px] pb-[120px]">
        <div class="flex flex-col lg:flex-row justify-center items-center lg:justify-around">
            <img src="/Elements/Quality.webp" alt="" class="w-[120px] drop-shadow-lg select-none">
            <h3 class="font-[Thirsty-Regular] lg:hidden text-3xl py-4 text-center">Calidad en nuestros productos</h3>
            <p class="font-[Montserrat-Medium] lg:hidden text-base pt-2 px-5 lg:px-10 ">Cada rollo, bebida o snack elaborado por Cinnamon Overoll esta hecho cuidadosamente y con mucho amor.</p>

            <img src="/Elements/Taste.webp" alt="" class="w-[120px] drop-shadow-lg select-none pt-12">
            <h3 class="font-[Thirsty-Regular] lg:hidden text-3xl py-4 text-center">Felicidad en tu paladar garantizada</h3>
            <p class="font-[Montserrat-Medium] lg:hidden text-base pt-2 px-5 lg:px-10">Estamos conscientes que al probar nuestros productos quedarás maravillado y tu paladar lo agradecerá.</p>
        </div>
        <div class="flex flex-col lg:flex-row justify-center items-center lg:justify-around">
            <h3 class="font-[Thirsty-Regular] hidden lg:inline-block text-3xl py-4">Calidad en nuestros productos</h3>
            <h3 class="font-[Thirsty-Regular] hidden lg:inline-block text-3xl py-4">Felicidad en tu paladar garantizada</h3>
        </div>
        <div class="flex flex-col lg:flex-row justify-center items-center lg:justify-around text-center">
            <p class="font-[Montserrat-Medium] hidden lg:inline-block text-base pt-2 px-10 mr-10 ml-10">Cada rollo, bebida o snack elaborado por Cinnamon Overoll esta hecho cuidadosamente y con mucho amor.</p>
            <p class="font-[Montserrat-Medium] hidden lg:inline-block text-base pt-2 px-10 mr-10 ml-10">Estamos conscientes que al probar nuestros productos quedarás maravillado y tu paladar lo agradecerá.</p>
        </div>
    </div>
</section>