<section>
    <div>
        <h2 class="text-center justify-center py-28 font-[Thirsty-Regular] text-7xl">Una experiencia deliciosa comieza aquí.</h2>
    </div>
    <picture class="relative w-full overflow-hidden flex items-center">
        <img src="../public/Backgrounds/TasteExperience.webp" alt="Taste Experience" class="select-none">
        <p class="absolute font-[Montserrat-Bold] text-7xl text-white text-right py-10 left-96 px-32">Siempre listos en cada momento conquistando tu paladar.</p>
    </picture>
    <div class="pt-[120px] pb-[120px]">
        <div class="grid grid-cols-2 place-items-center">
            <img src="../public/Elements/Quality.webp" alt="" class="w-[120px] drop-shadow-lg select-none">
            <img src="../public/Elements/Taste.webp" alt="" class="w-[120px] drop-shadow-lg select-none">
        </div>
        <div class="grid grid-cols-2 gap-4 place-items-center">
            <h3 class="font-[Thirsty-Regular] text-3xl py-4 px">Calidad en nuestros productos</h3>
            <h3 class="font-[Thirsty-Regular] text-3xl py-4 px">Felicidad en tu paladar garantizada</h3>
        </div>
        <div class="grid grid-cols-2 place-items-center text-center">
            <p class="font-[Montserrat-Medium] text-base pt-2 px-10 mr-10 ml-10">Cada rollo, bebida o snack elaborado por Cinnamon Overoll esta hecho cuidadosamente y con mucho amor.</p>
            <p class="font-[Montserrat-Medium] text-base pt-2 px-10 mr-10 ml-10">Estamos concientes que al probar nuestros productos quedarás maravillado y tu paladar lo agradecerá.</p>
        </div>
    </div>
</section>