@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Aloja';
        src: url('/public/fonts/Aloja/Aloja-Light.woff') format('woff'), url('/public/fonts/Aloja/Aloja-Light.woff2') format('woff2');
    }
    @font-face {
        font-family: 'GilroyBold';
        src: url('/public/fonts/Gilroy-Bold.woff2') format('woff2');
    }
    @font-face {
        font-family: 'GilroySemibold';
        src: url('/public/fonts/Gilroy-SemiBold.woff2') format('woff2');
    }
    @font-face {
        font-family: 'GilroyRegular';
        src: url('/public/fonts/Gilroy-Regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Thirsty-Regular';
        src: url('/public/fonts/Thirsty/ThirstyRoughRegular.woff') format('woff'), url('/public/fonts/Thirsty/ThirstyRoughRegular.woff2') format('woff2');
    }
}

@layer components {
    .COR div:first-child {
        @apply rotate-45 translate-y-1.5
    }
    .COR div:last-child {
        @apply -rotate-45 -translate-y-1
    }
}

::selection {
    background: #F0CEA0;
    color: black;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #F0CEA0;
}

body::-webkit-scrollbar-thumb {
    background: #83502ed9;
    border-radius: 20px;
}